{% extends 'main.html' %}
{% block title %}Оплата и вывоз{% endblock %}
{% block main %}
    <h2>Оплата и вывоз</h2>
    <h3>Способы оплаты:</h3>
    <ul>
        <li>наличный рассчет;</li>
        <li>безналичный рассчет.</li>
    </ul>
    <h3>Способы вывоза:</h3>
    <ul>
        <li>самовывоз;</li>
        <li>вывоз транспортом фирмы (10% наценка).</li>
    </ul>
    <p>
        По всем вопросам касательно оплаты и вывоза обращайтесь в отдел продаж и бахгалтерию
        (см. <a href="{% url 'contacts' %}">страницу контактов</a> ).
    </p>
{% endblock %}